:root {
  --blue: #039;
  --red: #c30;
}
fieldset {
  border: 2px solid var(--blue);
  padding: 1.6rem;
  font-size: 1.6rem;
}

fieldset legend {
  border: none;
  width: auto;
  color: var(--blue);
  font-size: 1.8rem;
  padding: 0 1rem;
  margin: 0 auto 0 0;
}
