<div class="container add">
  <section id="content">
    <h1>Добавление проекта</h1>
    <form id="form" action="#">
      <fieldset>
        <legend>Проект</legend>
        <input value="1996" placeholder="Название" name="name" type="text" required autofocus>
        <input value="1996" placeholder="Скидка" name="discount" type="text" required>
      </fieldset>
      <fieldset>
        <legend>Контакты клиента</legend>
        <input value="1996" placeholder="Имя" name="firstName" type="text" required>
        <input value="1996" placeholder="Отчество" name="secondName" type="text" required>
        <input value="1996" placeholder="Фамилия" name="lastName" type="text" required>
        <input value="1996" placeholder="Почта" name="mail" type="text" required>
        <input value="1996" placeholder="Телефон" name="phone" type="text" required>
      </fieldset>
      <button onclick="javascript:route.addProjectConfirm();" type="button">Добавить проект</button>
    </form>
 </section>
</div>
</div>
