<div class="container add">
  <section id="content">
    <h1>Добавление проекта<button onclick="javascript:models.home();" type="button">На главную</button></h1>
    <form id="form" action="#">
      <fieldset>
        <legend>Проект</legend>
        <input value="" placeholder="Название" name="name" type="text" required autofocus>
        <input value="" placeholder="Скидка" name="discount" type="text" required>
      </fieldset>
      <fieldset>
        <legend>Контакты клиента</legend>
        <input value="" placeholder="Имя" name="firstName" type="text" required>
        <input value="" placeholder="Отчество" name="secondName" type="text" required>
        <input value="" placeholder="Фамилия" name="lastName" type="text" required>
        <input value="" placeholder="Почта" name="mail" type="text" required>
        <input value="" placeholder="Телефон" name="phone" type="text" required>
      </fieldset>
      <button onclick="javascript:route.addProjectConfirm();" type="button">Добавить проект</button>
    </form>
 </section>
</div>
</div>
