<div class="container auth">
  <section id="content">
    <h1>Вход на сайт</h1>
      <input type="email" class="form-control" placeholder="Логин" name="email" required="" id="email" type="text" required autofocus>
      <input type="password" class="form-control" placeholder="Пароль" name="password" required="" id="password" type="password" required>
      <button class="btn btn-lg btn-primary" onclick="javascript:route.signIn();">Войти</button>
      <button class="btn btn-lg btn-primary" onclick="javascript:route.signUp();">Регистрация</button>
 </section>
</div>
</div>
