<div class="container auth">
  <section id="content">
    <!-- onsubmit="return routeAuth(this);" -->
  <!-- <form action="" > -->
   <h1>Вход на сайт</h1>
    <div>
     <input placeholder="Логин" name="email" required="" id="email" type="text">
    </div>
    <div>
     <input placeholder="Пароль" name="password" required="" id="password" type="password">
    </div>
    <div>
      <button onclick="javascript:routeAuth();">Войти</button>
      <a href="#">Регистрация</a>
    </div>
   <!-- </form> -->
 </section>
</div>
</div>
