<div class="container update">
  <section id="content">
    <h1>Изменение проекта<button onclick="javascript:models.home();" type="button">На главную</button></h1>
    <form id="form" action="#">
      <fieldset>
        <legend>Проект</legend>
        <input value="<%= res.name %>" placeholder="Название" name="name" type="text" required autofocus>
        <input value="<%= res.discount %>" placeholder="Скидка" name="discount" type="text" required>
      </fieldset>
      <fieldset>
        <legend>Контакты клиента</legend>
        <input value="<%= res.contacts.firstName %>" placeholder="Имя" name="firstName" type="text" required>
        <input value="<%= res.contacts.secondName %>" placeholder="Отчество" name="secondName" type="text" required>
        <input value="<%= res.contacts.lastName %>" placeholder="Фамилия" name="lastName" type="text" required>
        <input value="<%= res.contacts.mail %>" placeholder="Почта" name="mail" type="text" required>
        <input value="<%= res.contacts.phone %>" placeholder="Телефон" name="phone" type="text" required>
      </fieldset>
      <fieldset>
        <legend>Оказываемые услуги</legend>
        <button onclick="javascript:models.project.addTaskInProject();" type="button">Добавить услугу</button>
        <table class="table">
          <thead>
          <tr>
            <th>Название</th>
            <th>Кол-во</th>
            <th>Действия</th>
          </tr>
          </thead>
          <tbody id="taskInProject">
          <% _.each( res.tasks, function(i, key) {%>
            <% let uniqId = _.uniqueId('row_')%>
            <tr uniqId="<%= uniqId%>">
              <td><%= i._id %></td>
              <td><%= i.value %></td>
              <td>
                <button onclick="javascript:models.project.removeTaskInProject(`'<%= uniqId %>'`);" type="button">Удалить</button>
              </td>
            </tr>
          <% }); %>
          </tbody>
        </table>
      </fieldset>
      <button onclick="javascript:route.updateProjectConfirm('<%= res._id %>');" type="button">Сохранить изменения</button>
    </form>
 </section>
</div>
</div>
